* {
  box-sizing: border-box;
}

.contenedor {
  background-color: #282c34;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-areas: "uno dos tres"
            "cuatro cinco seis"
            "siete ocho nueve";
}

.item {
  background-color: #03afff;
  padding: 100px;
}



